<form class"" action= "/collections/<%= @collection.id %>" method="POST">
<input type="hidden" name="_method" value="patch">
    <h1>Edit Game</h1>
       <fieldset>
          <legend>Name of Game</legend>
          <p><input type="text" name="name" value="<%= @collection.name %>">
          </p>
        </fieldset>
            
        <fieldset>
         <legend>What Genre is this type of game?</legend>
          <p><input type="text" name="genre" value="<%= @collection.genre %>">
          </p>
       </fieldset>

       <fieldset>
         <legend>What Console can this game be played on?</legend>
          <p><input type="text" name="console" value="<%= @collection.console %>">
          </p>
       </fieldset>

       <input type="submit" value="Submit">
</form>

