
<form class="upcase" action="/collections/new" method="POST">
    <h1>New Game</h1>
       <fieldset>
          <legend>Name of Game</legend>
          <p><input type="text" name="name" placeholder="Name:"

>
          </p>
        </fieldset>
            
        <fieldset>
         <legend>What Genre is this type of game?</legend>
          <p><input type="text" name="genre" placeholder="Genre:"

>
          </p>
       </fieldset>

       <fieldset>
         <legend>What Console can this game be played on?</legend>
         <p><input type="text" name="console" placeholder="Console:"

>
          </p>
       </fieldset>

       <input type="submit" value="Submit">
</form>
