
<form class"" action="/games/new" method="POST">
    <h1>New Game</h1>
       <fieldset>
          <legend>Name of Game</legend>
          <p><input type="text" name="name" placeholder="Name:">
          </p>
        </fieldset>
            
        <fieldset>
         <legend>Genre</legend>
         <p>
           <label>What Genre is this type of game?</label>
             <input type = "checkbox"
                 name = "genre"
                 value = "horror" />
             <label for = "genre">Horror Games</label>
             <input type = "checkbox"
                 name = "genre"
                 value = "rpg" />
             <label for = "genre">RPG</label>
             <input type = "checkbox"
                 name = "genre"
                 value = "shooter" />
             <label for = "genre">Shooter</label>
             <input type = "checkbox"
                 name = "genre"
                 value = "sidescroller" />
             <label for = "genre">SideScroller</label>
         </p>
       </fieldset>

       <fieldset>
         <legend>Console</legend>
         <p>
           <label>What Console can this game be played on?</label>
             <input type = "checkbox"
                 name = "console"
                 value = "playstation" />
             <label for = "console">Playstation</label>
             <input type = "checkbox"
                 name = "console"
                 value = "xbox" />
             <label for = "console">Xbox</label>
             <input type = "checkbox"
                 name = "console"
                 value = "nintendo" />
             <label for = "console">Nintendo</label>
             <input type = "checkbox"
                 name = "console"
                 value = "pc" />
             <label for = "console">PC</label>
             
         </p>
       </fieldset>

       <input type="submit" value="Submit">
</form>

<p><a href="/logout">Log Out</a></p>