<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset = "UTF-8">
    <meta name ="viewpoint" content="width-device-width", initial-5>
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Gametopia</h1>
</body>
</html>