<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset = "UTF-8">
    <meta name ="viewpoint" content="width-device-width", initial-5>
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Gametopia</h1>
    <div class="topnav">
    <a class="active" href="/dashboard">Home</a>
    <a href="/games">Games</a>
    <a href="/collection">Collection</a>
    <a href="/logout">Logout</a>
    </div>
    <%= yield %>

    <footer class="branding">
        <small>&copy; 2020 <strong>GametopiaApp</strong></small>
    </footer>
</body>
</html>