<h2>Let's Sign You Up!</h2>


<h3>Please make a username and enter a email and password</h3>
<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="email" name="email" placeholder="Email:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Sign Up">
</form>